.collapse_element
    height: 52px
    border-radius: 5px
    margin-bottom: 30px
    font-weight: 700
    width: 1023px
    color: #FFFFFF
    background-color: $primary_color
    margin-left: 100px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0px 20px 0px 20px
    .collapse_arrow
        width: 32px
        height: 32px
        //transform: rotate(-180deg) //au clic pout ouvrir l'article
        //flex-shrink: 0
        .collapse_content
            width: 900px
            min-height: 150px
            font-size: 18px
            font-weight: normal
            color: black
            background-color: $secondary_color
            border-radius: 10px