.collapse_element
    height: 52px
    border-radius: 5px
    margin-bottom: 30px
    font-weight: 700

.collapse_arrow
    width: 32px
    height: 32px
    //transform: rotate(-180deg) au clic pout ouvrir l'article
    //flex-shrink: 0