@import '../index';
.banner_container {
    position: relative;
  }
  
.banner {
    margin: 0;
    position: relative;
}
  
.banner img {
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin-left: 100px;
    overflow: hidden;
    display: block;
    opacity: 0.6;
    background: #000;
}
  
img {
    object-fit: cover;
    object-position: center;
}