@import '../index';
.banner_container {
    position: relative;
  }
  
.banner {
    margin: 0;
    position: relative;
}
  
.banner img {
    width: 77.5em;
    height: 13.938em;
    border-radius: 25px;
    margin-left: 6.25em;
    overflow: hidden;
    display: block;
    opacity: 0.6;
    background: #000;
}
  
.banner_image {
    object-fit: cover;
    object-position: center;
}
@media (min-width:377px)and (max-width:767px) {
    .banner_image{
        max-width: 700px;
        height: 11em;
        margin: auto;
    }
}
@media screen and (max-width:376px) {
    .banner_container{
        width: 335px;
        height: 111px;
        margin-left: -20px;
    }
    .banner img{
        width: 335px;
        height: 111px;
        margin-left: 39px;
    }
}