@import '../index';
.card{
    width: 340px;
    height: 340px;
    border-radius: 10px;
    margin: 0px;
    overflow: hidden;
    position: relative;
    &::before{ 
        content: ''; //doit être défini (ici avec une chaîne vide) pour que le pseudo-élément apparaisse.
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
        z-index: 1;//dégradé au dessus de l'image
        }
}
.card_img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(white, 42%, black);
}

@media screen and (max-width:767px) {
    .flat_card{
        width: 335px;
    }
    .card{
        width: 335px;
        height: 255px;
        padding: 20px;
        &::before{ 
            content: ''; //doit être défini (ici avec une chaîne vide) pour que le pseudo-élément apparaisse.
            position: absolute;
            width:335px;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
            z-index: 1;//dégradé au dessus de l'image
            margin: 20px;
            border-radius: 10px;
            }
    }
    .card_img{
        border-radius: 10px;
    }
}