.carrousel_pictures{
    width: 1240px;
    height: 415px;
    border-radius:25px;
    background: lightgray 50%;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.next_arrow{
    margin-left: auto;
}