@import '../index';
.collapse_element{
    width: 80%;
    height: 52px;
    border-radius: 5px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: $color-primary;
    margin-left: 100px;
    padding: 0px 20px 0px 20px;
}
.collapse_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.collapse_arrow{
    width: 32px;
    height: 32px;
    cursor: pointer;
}