@import '../index';

.collapse_element{
    width: 80%;
    margin-bottom: 30px;
    transition: max-height 1s ease-in-out;
    overflow: hidden;
}
.collapse_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include Montserrat-si-st-w (20px, normal, 700);
    color: #FFFFFF;
    background-color: $color-primary;
    padding: 0px 20px;
    border-radius: 5px;
    height: 52px;
}

.collapse_content{
    background-color: transparent;
    color: transparent;
    display: block;
    max-height: 0;
}

.collapse_content.open{
    border-radius: 5px;
    background-color: $color-secondary;
    color: black;
    padding: 15px 25px 15px 40px;
    line-height: 26px;
    margin-top: 0px;
    display: block;
    max-height: 290px;

}
.collapse_arrow{
    transition: transform 0.3s ease;
}
.collapse_button.open .collapse_arrow {
    transform: rotate(-180deg); 
}

@media screen and (max-width: 376px) {
    .collapse_element{
        width: 90%;
        margin-top: 10px;
        height: auto;
    }
    .collapse_header{
        @include Montserrat-si-st-w(13px, normal, 700);
        height: 40px;
    }

}

