@import '../index';
.footer{
    background-color: black;
    @extend %flex-column;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 209px;
    margin-bottom: -8px;
}
.legal-info{
    color: white;
    @include Montserrat-si-st-w (24px, normal, 500);
    line-height: 34px;
    text-align: center;
}
.logo-footer{
    width: 122px;
    height: 39px;
    margin-bottom: 25px;
}
@media screen and (max-width: 375px) {
    .footer{ 
        width: 375px;
        height: 209px;}
    .legal-info{
        @include Montserrat-si-st-w (12px, normal, 500);
        width: 133px;
        height: 36px;
        display: flex;
        flex-wrap: wrap;
        line-height: 20px;
    }
    .logo-footer{
        margin-bottom: unset;
    }
}
