@import '../index';
.header{
    width: 79.07em;
    height: 4.25em;
    @extend %flex-row;
    justify-content: space-between;
    align-content: center;
    margin: 0em 0em 2.81em 3.45em;
    .logo{
        width: 13.13em;
        height: 4.25em;
        padding-left: 2.81em;
        }
    .navbar{
        width: 19.313em;
        height: 2.125em;
        }
        ul{
          @extend %flex-row ;
          gap: 2.375em;
          list-style: none;
          font-family: 'Montserrat';
          font-size: 24px;
          margin-left: 0.71em;
        }
        a
        {
            color: black;
        }
}
@media (min-width:377px)and (max-width:767px) {
    .header{
        width: 100%;
        justify-content: center;
        gap: 5%;
        .logo{
            width: auto;
            height: 60%;
            padding-left: unset;
        }
        .navbar{
            width: 11.875em;
            ul{
                font-size: 12px;
            }
        }
    }
}
@media ( max-width: 376px ){
    .header{
        width: 100%;
        justify-content: unset;
        padding: 20px 20px 27px 30px;
        margin: unset;
        .logo{
            width: auto;
            height: 60%;
            padding-left: unset;
        }
        .navbar{
            width: 11.875em;
            ul{
                font-size: 12px;
            }
        }
    }
}
  


