@import '../index';
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 7% 3% 7%;
    .logo{
        width: 13.13em;
        height: 4.25em;
        }
    .navbar{
        width: 19.313em;
        height: 2.125em;
        }
        ul{
          display: flex ;
          gap: 2.375em;
          list-style: none;
          font-family: 'Montserrat';
          font-size: 24px;
          margin-left: 0.71em;
        }
        a
        {
            color: black;
        }
}

@media (max-width:767px){
    .header{
        width: 100%;
        justify-content: center;

        margin: auto;
        .logo{
            width: auto;
            height: 60%;
        }
        .navbar{
            width: 11.875em;
            ul{
                font-size: 12px;
            }
        }
    }
}
  


