@import '../index';
.accommodation_elements{
    @extend %flex-column;
}
.accommodation_name{
    color: $color-primary;
    @include Montserrat-si-st-w (36px, normal, 500);
    margin:0px;

}
.accommodation_location{
    color: #000;
    @include Montserrat-si-st-w (18px, normal, 500);
    margin-top: 10px;
}

.tag_container{
    height: 25px;
    flex-shrink: 0;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
.tag{  
    min-width: 115px;
    background-color: $color-primary;
    color: white;
    border-radius: 10px;
    @include Montserrat-si-st-w (14px, normal, 700);
    @extend %flex-row;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
}
@media (min-width:377px)and (max-width:767px) {
    .accommodation_name{
        font-size: 18px;
    }
    .accommodation_location{
        font-size: 14px;
    }
    .tag{
        font-size: 10px;
        min-width: 94px;
        padding: 2px 7px;
    }
    .tag_container{
        flex-wrap: wrap;
        height: auto;
    }
    .accommodation_elements{
        margin-bottom: 12px;
    }
}
@media screen and (max-width: 376px) {
    .accommodation_name{
        font-size: 18px;
    }
    .accommodation_location{
        font-size: 14px;
    }
    .tag{
        font-size: 10px;
        min-width: 94px;
        padding: 2px 7px;
    }
    .tag_container{
        flex-wrap: wrap;
        height: auto;
    }
    .accommodation_elements{
        margin-bottom: 12px;
    }
}