@import '../index';

.accommodation_owner{
    @extend %flex-row;
	justify-content: right;
	gap: 30px;
}
.owner_name{
    color: $color-primary;
    text-align: right;
    @include Montserrat-si-st-w (18px, normal, 500);
    width: 93px;
    margin: 0px;
}

.owner_photo{
    width: 64px;
    height: 64px;
    border-radius: 50px;
}

@media screen and (max-width:767px) {
    .owner_photo{
        width: 32px;
        height: 32px;
    }
    .owner_name{
        font-size: 12px;
    }
    .accommodation_owner {
        align-items: center;
        gap: 8%;
    }
}
