@import '../index';

.accommodation_owner{
    @extend %flex-row;
	justify-content: right;
	gap: 30px;
}
.owner_name{
    color: $color-primary;
    text-align: right;
    @include Montserrat-si-st-w (18px, normal, 500);
    width: 93px;
    //height: 52px;
    margin: 0px;
}

.owner_photo{
    width: 64px;
    height: 64px;
    border-radius: 50px;
}  
