@import '../index';
.rating{
    width: 196px;
    height: 36px;
}
.accommodation_rating{
    margin: 0px;
}

@media screen and (max-width:767px) {
    .rating{
        height: 18px;
        width: unset;
    }
}