@import '../index';
.rating{
    width: 196px;
    height: 36px;
}
.accommodation_rating{
    margin: 0px;
}
@media screen and (max-width: 376px) {
    .rating{
        width: 98px;
        height: 18px;
    }
}