.error
    font-family: 'Montserrat'
    color: #FF6060
    margin-top: 75px
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 100px

@mixin marginbottom
    margin-bottom: 150px
    
.number
    font-size: 288px
    font-weight: 700
    @include marginbottom
    

.sentence
    font-size: 36px
    font-weight: 500
    @include marginbottom
    
.link
    color: black
    font-weight: 500
    font-size: 18px