.banner_container {
  position: relative;
}

.banner {
  margin: 0;
  position: relative;
}

.banner img {
  width: 77.5em;
  height: 13.938em;
  border-radius: 25px;
  margin-left: 6.25em;
  overflow: hidden;
  display: block;
  opacity: 0.6;
  background: #000;
}

.banner_image {
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 376px) {
  .banner_container {
    width: 335px;
    height: 111px;
    margin-left: -20px;
  }
  .banner img {
    width: 335px;
    height: 111px;
    margin-left: 39px;
  }
}
.card {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  margin: 0px;
  overflow: hidden;
  position: relative;
}
.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  z-index: 1;
}

.card_img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, 42%, black);
}

@media screen and (max-width: 376px) {
  .flat_card {
    width: 335px;
  }
  .card {
    width: 335px;
    height: 255px;
    padding: 20px;
  }
  .card::before {
    content: "";
    position: absolute;
    width: 335px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    z-index: 1;
    margin: 20px;
    border-radius: 10px;
  }
  .card_img {
    border-radius: 10px;
  }
}
.slideshow_pictures {
  width: 77.5em;
  height: 26em;
  border-radius: 1.04em;
  background: lightgray 50%;
  margin-left: 6.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.next_arrow {
  margin-left: auto;
}

.imported_picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.next_arrow, .previous_arrow {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.image_counter {
  position: relative;
  z-index: 2;
  margin-bottom: -21em;
  margin-left: 31em;
  font-family: Montserrat;
  font-size: 1.13em;
  font-style: normal;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 376px) {
  .slideshow_pictures {
    width: 355px;
    height: 255px;
    margin-left: 1.2em;
  }
  .previous_arrow, .next_arrow {
    width: 24px;
    height: 40px;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .previous_arrow {
    left: 10px;
  }
  .next_arrow {
    right: 10px;
  }
  .image_counter {
    position: absolute;
    bottom: 10px;
    margin-left: 47%;
    margin-bottom: unset;
    font-size: 0.9em;
  }
}
.collapse_element {
  width: 80%;
  margin-bottom: 30px;
  transition: max-height 1s ease-in-out;
  overflow: hidden;
}

.collapse_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #FF6060;
  padding: 0px 20px;
  border-radius: 5px;
  height: 52px;
}

.collapse_content {
  background-color: transparent;
  color: transparent;
  display: block;
  max-height: 0;
}

.collapse_content.open {
  border-radius: 5px;
  background-color: #F6F6F6;
  color: black;
  padding: 15px 25px 15px 40px;
  line-height: 26px;
  margin-top: 0px;
  display: block;
  max-height: 290px;
}

.collapse_arrow {
  transition: transform 0.3s ease;
}

.collapse_button.open .collapse_arrow {
  transform: rotate(-180deg);
}

@media screen and (max-width: 376px) {
  .collapse_element {
    width: 90%;
    margin-top: 10px;
    height: auto;
  }
  .collapse_header {
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    height: 40px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: black;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 209px;
}

.legal-info {
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
}

.logo-footer {
  width: 122px;
  height: 39px;
  margin-bottom: 25px;
}

@media screen and (max-width: 375px) {
  .footer {
    width: 375px;
    height: 209px;
  }
  .legal-info {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    width: 133px;
    height: 36px;
    display: flex;
    flex-wrap: wrap;
    line-height: 20px;
  }
  .logo-footer {
    margin-bottom: unset;
  }
}
.header ul, .header {
  display: flex;
  flex-direction: row;
}

.header {
  width: 79.07em;
  height: 4.25em;
  justify-content: space-between;
  align-content: center;
  margin: 0em 0em 2.81em 3.45em;
}
.header .logo {
  width: 13.13em;
  height: 4.25em;
  padding-left: 2.81em;
}
.header .navbar {
  width: 19.313em;
  height: 2.125em;
}
.header ul {
  gap: 2.375em;
  list-style: none;
  font-family: "Montserrat";
  font-size: 24px;
  margin-left: 0.71em;
}
.header a {
  color: black;
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}

@media (max-width: 376px) {
  .header {
    width: 100%;
    justify-content: unset;
    padding: 20px 20px 27px 30px;
    margin: unset;
  }
  .header .logo {
    width: auto;
    height: 60%;
    padding-left: unset;
  }
  .header .navbar {
    width: 11.875em;
  }
  .header .navbar ul {
    font-size: 12px;
  }
}
.tag {
  display: flex;
  flex-direction: row;
}

.accommodation_elements {
  display: flex;
  flex-direction: column;
}

.accommodation_name {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  margin: 0px;
}

.accommodation_location {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-top: 10px;
}

.tag_container {
  height: 25px;
  flex-shrink: 0;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.tag {
  min-width: 115px;
  background-color: #FF6060;
  color: white;
  border-radius: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
}

@media screen and (max-width: 376px) {
  .accommodation_name {
    font-size: 18px;
  }
  .accommodation_location {
    font-size: 14px;
  }
  .tag {
    font-size: 10px;
    min-width: 94px;
    padding: 2px 7px;
  }
  .tag_container {
    flex-wrap: wrap;
    height: auto;
  }
  .accommodation_elements {
    margin-bottom: 12px;
  }
}
.accommodation_owner {
  display: flex;
  flex-direction: row;
}

.accommodation_owner {
  justify-content: right;
  gap: 30px;
}

.owner_name {
  color: #FF6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  width: 93px;
  margin: 0px;
}

.owner_photo {
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

@media screen and (max-width: 376px) {
  .owner_photo {
    width: 32px;
    height: 32px;
  }
  .owner_name {
    font-size: 12px;
  }
  .accommodation_owner {
    align-items: center;
  }
}
.rating {
  width: 196px;
  height: 36px;
}

.accommodation_rating {
  margin: 0px;
}

@media screen and (max-width: 376px) {
  .rating {
    width: 98px;
    height: 18px;
  }
}
.app {
  width: 90em;
  padding-top: 2.81em;
}

@media screen and (max-width: 376px) {
  .app {
    width: 375px;
    padding-top: unset;
    margin: -8px;
  }
}
.collapse_wrapper {
  display: flex;
  flex-direction: column;
}

.collapse_wrapper {
  align-items: center;
  width: 77.5em;
  padding-left: 6.19em;
  margin-top: 50px;
}

.about_page .collapse_button {
  background: transparent;
  border: none;
  position: absolute;
  margin-left: 60%;
  cursor: pointer;
}

.about_page .collapse_arrow {
  width: 40px;
  height: 35px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 376px) {
  .about_page {
    margin-left: 8px;
  }
  .collapse_wrapper {
    width: 375px;
    margin-top: 40px;
    padding-left: 0;
  }
  .about_page .collapse_arrow {
    width: 97%;
    height: auto;
  }
  .about_page .collapse_button {
    margin-left: 70%;
  }
}
.error {
  display: flex;
  flex-direction: column;
}

.number, .sentence {
  margin-bottom: 150px;
}

.error {
  color: #FF6060;
  margin-top: 75px;
  align-items: center;
  margin-bottom: 100px;
}

.number {
  font-family: Montserrat;
  font-size: 288px;
  font-style: normal;
  font-weight: 700;
}

.sentence {
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  gap: 10px;
}

.link {
  color: black;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 376px) {
  .number {
    font-family: Montserrat;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
  }
  .sentence {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    padding-left: 19px;
  }
}
.card_background {
  display: flex;
  flex-direction: row;
}

.banner_text {
  color: white;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  bottom: -31px;
  left: 101px;
  width: 1240px;
  height: 223px;
  background-color: black;
  opacity: 0.6;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_1 {
  margin-right: 10px;
}

.card_background {
  width: 1195px;
  background-color: #F6F6F6;
  border-radius: 25px;
  margin: 50px 0px 50px 100px;
  padding: 47px 0px 47px 50px;
  gap: 60px;
  flex-wrap: wrap;
}

.flat_name {
  color: white;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 2;
}

@media (max-width: 376px) {
  .main_container {
    display: flex;
    flex-direction: column;
  }
  .banner_text {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    width: 315px;
    height: 111px;
    bottom: -16px;
    left: 41px;
    padding-left: 19px;
    align-content: center;
    justify-content: flex-start;
  }
  .card_background {
    width: 375px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: unset;
    gap: unset;
    padding-left: 6px;
  }
  .flat_name {
    left: 30px;
  }
}
.description_equipment {
  display: flex;
  flex-direction: row;
}

.container2 {
  display: flex;
  flex-direction: column;
}

.container1 {
  margin-left: 100px;
  width: 50%;
}

.container2 {
  margin-right: 100px;
  width: 50%;
  align-items: flex-end;
}

.containers {
  display: flex;
}

.description_equipment {
  max-width: 1240px;
  padding-left: 100px;
  column-gap: 76px;
  margin-bottom: 16px;
}

.equipements_list {
  list-style: none;
}

.rentalInfo_page .collapse_button {
  background: transparent;
  border: none;
  position: absolute;
  margin-left: 33%;
  cursor: pointer;
}

.rentalInfo_page .collapse_arrow {
  width: 40px;
  height: 35px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 376px) {
  .main_container, .containers {
    width: 375px;
    display: flex;
    flex-direction: column;
  }
  .container1 {
    margin-left: 1.2em;
    width: 94%;
  }
  .container2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    margin-right: unset;
    margin-left: 18px;
    margin-bottom: 1.2em;
    width: 94%;
  }
  .description_equipment {
    padding-left: 0;
    margin-left: 1.2em;
    margin-bottom: unset;
    width: 105%;
    display: flex;
    flex-direction: column;
  }
  .rentalInfo_page .collapse_button {
    margin-left: 72%;
  }
}

/*# sourceMappingURL=style.css.map */
