body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 1440px;
  padding-top: 45px;
  margin: auto;
}

@media (max-width: 374px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.banner_container {
  position: relative;
}

.banner {
  margin: 0;
  position: relative;
}

.banner img {
  width: 1240px;
  height: 223px;
  border-radius: 25px;
  margin-left: 100px;
  overflow: hidden;
  display: block;
  opacity: 0.6;
  background: #000;
}

img {
  object-fit: cover;
  object-position: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 1440px;
  padding-top: 45px;
  margin: auto;
}

@media (max-width: 374px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.card {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  margin: 0px;
  overflow: hidden;
  position: relative;
}
.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  z-index: 1;
}

.card_img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, 42%, black);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 1440px;
  padding-top: 45px;
  margin: auto;
}

@media (max-width: 374px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.carrousel_pictures {
  width: 1240px;
  height: 415px;
  border-radius: 25px;
  background: lightgray 50%;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.next_arrow {
  margin-left: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 1440px;
  padding-top: 45px;
  margin: auto;
}

@media (max-width: 374px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.collapse_element {
  width: 80%;
  margin-bottom: 30px;
}

.collapse_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #FF6060;
  padding: 0px 20px;
  border-radius: 5px;
  height: 52px;
}

.collapse_arrow {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.collapse_arrow:active {
  transform: rotate(-180deg);
}

.collapse_content {
  border-radius: 5px;
  background-color: #F6F6F6;
  color: black;
  padding: 15px 25px 15px 40px;
  line-height: 26px;
  margin-top: 0px;
  display: block;
}

.footer {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 1440px;
  padding-top: 45px;
  margin: auto;
}

@media (max-width: 374px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.footer {
  background-color: black;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 209px;
}

.legal-info {
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
}

.logo-footer {
  width: 122px;
  height: 39px;
  margin-bottom: 25px;
}

.header ul, .header {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 1440px;
  padding-top: 45px;
  margin: auto;
}

@media (max-width: 374px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.header {
  width: 1265px;
  height: 68px;
  justify-content: space-between;
  align-content: center;
  margin: 0px 0px 45px 55px;
}
.header .logo {
  width: 210px;
  height: 68px;
  padding-left: 45px;
}
.header .navbar {
  width: 309px;
  height: 34px;
}
.header ul {
  gap: 57px;
  list-style: none;
  font-family: "Montserrat";
  font-size: 24px;
  margin-left: 17px;
}
.header a {
  color: black;
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}

@media (max-width: 375px) {
  .header {
    width: 100%;
  }
  .logo {
    width: 144px;
    height: 46px;
  }
  .navbar {
    width: 190px;
  }
}
.accommodation_elements {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 1440px;
  padding-top: 45px;
  margin: auto;
}

@media (max-width: 374px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.accommodation_name {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.accommodation_location {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.accommodation_owner {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 1440px;
  padding-top: 45px;
  margin: auto;
}

@media (max-width: 374px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.accommodation_owner {
  justify-content: right;
  gap: 30px;
}

.owner_name {
  color: #FF6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  width: 93px;
  height: 52px;
  margin: 0px;
}

.owner_photo {
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 1440px;
  padding-top: 45px;
  margin: auto;
}

@media (max-width: 374px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.rating {
  width: 196px;
  height: 36px;
}

.accommodation_rating {
  margin: 0px;
}

.collapse_wrapper {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 1440px;
  padding-top: 45px;
  margin: auto;
}

@media (max-width: 374px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.collapse_wrapper {
  align-items: center;
  width: 1240px;
  padding-left: 99px;
  margin-top: 50px;
}

.error {
  display: flex;
  flex-direction: column;
}

.sentence, .number {
  margin-bottom: 150px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 1440px;
  padding-top: 45px;
  margin: auto;
}

@media (max-width: 374px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.error {
  font-family: "Montserrat";
  color: #FF6060;
  margin-top: 75px;
  align-items: center;
  margin-bottom: 100px;
}

.number {
  font-size: 288px;
  font-weight: 700;
}

.sentence {
  font-size: 36px;
  font-weight: 500;
}

.link {
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.card_background {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 1440px;
  padding-top: 45px;
  margin: auto;
}

@media (max-width: 374px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.banner_text {
  color: white;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  bottom: -31px;
  left: 101px;
  width: 1240px;
  height: 223px;
  background-color: black;
  opacity: 0.6;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_background {
  width: 1195px;
  background-color: #F6F6F6;
  border-radius: 25px;
  margin: 50px 0px 50px 100px;
  padding: 47px 0px 47px 50px;
  gap: 60px;
  flex-wrap: wrap;
}

.flat_name {
  color: white;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 2;
}

@media (max-width: 375px) {
  .main_container {
    display: flex;
    flex-direction: column;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 1440px;
  padding-top: 45px;
  margin: auto;
}

@media (max-width: 374px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.container1 {
  margin-left: 100px;
  width: 50%;
}

.container2 {
  margin-right: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.containers {
  display: flex;
}

.width50 {
  width: 543px;
  margin-left: 0px;
}

.description_equipment {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  column-gap: 76px;
}

/*# sourceMappingURL=style.css.map */
