/* Error: expected ";".
 *   ,
 * 2 | body {
 *   |      ^
 *   '
 *   src\Style\_GeneralStyleElts.scss 2:6            @forward
 *   src\Style\_index.scss 4:1                       @import
 *   src\Style\Components\_Banner.scss 1:9           @forward
 *   src\Style\Components\_indexComponents.scss 1:1  @use
 *   src\Style\style.scss 1:1                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a   \2577 \a 2 \2502  body {\d\a   \2502       ^\a   \2575 \a   src\\Style\\_GeneralStyleElts.scss 2:6            @forward\a   src\\Style\\_index.scss 4:1                       @import\a   src\\Style\\Components\\_Banner.scss 1:9           @forward\a   src\\Style\\Components\\_indexComponents.scss 1:1  @use\a   src\\Style\\style.scss 1:1                        root stylesheet';
}
