@import '../index';
.error{
    color: $color-primary;
    margin-top: 75px;
    @extend %flex-column;
    align-items: center;
    margin-bottom: 100px;
}
   
.number{
    @include Montserrat-si-st-w (288px, normal, 700);
}    

.sentence{
    @include Montserrat-si-st-w (36px, normal, 500);
    display: flex;
    gap: 10px;
}   
.number, .sentence{
    @extend %marginbottom;
}
.link{
    color: black;
    @include Montserrat-si-st-w (18px, normal, 500);
}

@media screen and (max-width:767px) {
    .number{
        @include Montserrat-si-st-w (96px, normal, 700);
    }
    .sentence{
        @include Montserrat-si-st-w (18px, normal, 500);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .link{
        @include Montserrat-si-st-w (14px, normal, 500);
        padding-left: 19px;
    }
}