.app{
    max-width: n90em;
    margin: auto;
    padding-top: 2.81em;
}
@media screen and (max-width: 376px) {
    .app {
        max-width: 375px;
        padding-top: unset;
        margin: -8px;
    }
}
