.app{
    max-width: 90em;
    margin: auto;
    padding-top: 2.81em;
}

@media screen and (max-width:767px) {
    .app {
        max-width: 767px;
        padding-top: 3%;
        margin: auto;
    }
}
